<div id="div_top" height="10%">
  <br>
	<h1>Edit a post</h1>
	<br>
	<br>
</div>
<%= link_to 'Back', :action => "search", :id => 0 %>
<br></br>

<%= render :partial => "med_post_form", :locals => {:button_caption => "Update"} %>